@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/museosanscyrl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/ptserif-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/ptserif-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/ptserif-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/ptserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
